@namespace BlazorTutorial.Components.Pages
@page "/"
@inject ProductService ProductService
@inject BasketService BasketService

<PageTitle>Home</PageTitle>

<Hero Title="Welcome to Blazor!" ImageUrl="images/blazor.jpg" />

<div class="max-w-7xl px-4 sm:px-6 lg:px-8 py-12 lg:py-24 mx-auto">
    <Header Title="Explore the Features of Blazor" />
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-12">
        @if (productsList == null)
        {
            <p>Loading products...</p>
        }
        else
        {
            @foreach (Product product in productsList.Take(9))
            {
                <Card>
                    <CardImage Src="@product.ImageUrl" Alt="@product.Name" />
                    <CardTitle>
                        <h3 class="font-medium md:text-lg text-black">@product.Name</h3>
                        <p class="mt-2 font-semibold text-black">$@product.Price</p>
                    </CardTitle>
                    <CardContent>
                        <div class="flex flex-col">
                            @foreach (ProductDetail detail in product.ProductDetails)
                            {
                                <div class="py-3 border-t border-gray-200">
                                    <div class="grid grid-cols-2 gap-2">
                                        <span class="font-medium text-black">@detail.Label:</span>
                                        <span class="text-end text-black">@detail.Value</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </CardContent>
                    <CardAction ProductId="@product.Id" />
                </Card>
            }
        }
    </div>
    <div class="mt-10 lg:mt-20 text-center">
        <NavLink
            class="relative inline-block font-medium md:text-lg text-black before:absolute before:bottom-0.5 before:start-0 before:-z-1 before:w-full before:h-1 before:bg-blue-400 hover:before:bg-black focus:outline-hidden focus:before:bg-black "
            href="/products">
            View all Products
        </NavLink>
    </div>
</div>

<div class="py-10 md:py-16 lg:py-20 bg-blue-100">
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:items-center">
            <div class="relative h-80 md:h-150 bg-gray-100 rounded-2xl">
                <img class="absolute inset-0 size-full object-cover rounded-2xl" src="images/blazor-testimonial.jpg"
                    alt="blazor testimonial">
            </div>
            <div class="pt-10 md:p-10">
                <blockquote class="max-w-4xl mx-auto">
                    <p class="mb-6 md:text-lg font-semibold text-purple-700">
                        "Blazor made it so easy to build interactive web apps with C#!"
                    </p>
                    <p class="text-xl sm:text-2xl lg:text-3xl lg:leading-normal text-gray-800">
                        "Switching to Blazor has transformed our development process. We can now share code between
                        client and server, and our productivity has skyrocketed. Highly recommended for any .NET
                        developer!"
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="max-w-7xl px-4 sm:px-6 lg:px-8 py-12 lg:py-24 mx-auto">
    <div class="mb-6 sm:mb-10 max-w-2xl text-center mx-auto">
        <h2 class="font-medium text-black text-2xl sm:text-4xl">
            Contacts
        </h2>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:items-center gap-6 md:gap-8 lg:gap-12">
        <div class="aspect-w-16 aspect-h-6 lg:aspect-h-14 overflow-hidden bg-gray-100 rounded-2xl">
            <img class="group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl"
                src="https://images.unsplash.com/photo-1572021335469-31706a17aaef?q=80&w=560&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Contacts Image">
        </div>
        <div class="space-y-8 lg:space-y-16">
            <div>
                <h3 class="mb-5 font-semibold text-black">
                    Our address
                </h3>
                <div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
                    <div class="flex gap-4">
                        <svg class="shrink-0 size-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                            <circle cx="12" cy="10" r="3"></circle>
                        </svg>
                        <div class="grow">
                            <p class="text-sm text-gray-600">
                                Blegium, Gent
                            </p>
                            <address class="mt-1 text-black not-italic">
                                Artevelde University of Applied Sciences<br />
                                Campus Kantienberg
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="mb-5 font-semibold text-black">
                    Our contacts
                </h3>
                <div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
                    <div class="flex gap-4">
                        <svg class="shrink-0 size-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z">
                            </path>
                            <path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10"></path>
                        </svg>
                        <div class="grow">
                            <p class="text-sm text-gray-600">
                                Email us
                            </p>
                            <p>
                                <a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-1 before:w-full before:h-1 before:bg-blue-400 hover:before:bg-black focus:outline-hidden focus:before:bg-black"
                                    href="mailto:example@site.so">
                                    blazor@example.so
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="flex gap-4">
                        <svg class="shrink-0 size-5 text-gray-500 " xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z" />
                        </svg>
                        <div class="grow">
                            <p class="text-sm text-gray-600">
                                Call us
                            </p>
                            <p>
                                <a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-1 before:w-full before:h-1 before:bg-blue-400 hover:before:bg-black focus:outline-hidden focus:before:bg-black"
                                    href="mailto:example@site.so">
                                    +44 222 777-000
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<FooterMenu />

@code {
    private IEnumerable<Product> productsList = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        productsList = await ProductService.GetProductsAsync();
    }
}
