@namespace BlazorTutorial.Components.Pages
@inject ProductService ProductService
@page "/products"

<PageTitle>Products</PageTitle>

<div class="max-w-7xl px-4 sm:px-6 lg:px-8 py-12 mx-auto">
    <Header Title="Explore All the products" />
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-12">
       @if (productsList == null)
        {
            <p>Loading products...</p>
        }
        else
        {
            @foreach (Product product in productsList.Take(9))
            {
                <Card>
                    <CardImage Src="@product.ImageUrl" Alt="@product.Name" />
                    <CardTitle>
                        <h3 class="font-medium md:text-lg text-black">@product.Name</h3>
                        <p class="mt-2 font-semibold text-black">$@product.Price</p>
                    </CardTitle>
                    <CardContent>
                        <div class="flex flex-col">
                            @foreach (ProductDetail detail in product.ProductDetails)
                            {
                                <div class="py-3 border-t border-gray-200">
                                    <div class="grid grid-cols-2 gap-2">
                                        <span class="font-medium text-black">@detail.Label:</span>
                                        <span class="text-end text-black">@detail.Value</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </CardContent>
                    <CardAction>
                        <a class="py-2 px-3 w-full inline-flex justify-center items-center gap-x-2 text-sm font-medium text-nowrap rounded-xl border border-transparent bg-blue-400 text-black hover:bg-blue-500 focus:outline-hidden focus:bg-blue-500 transition disabled:opacity-50 disabled:pointer-events-none"
                           href="#">
                            Buy now
                        </a>
                    </CardAction>
                </Card>
            }
        }
    </div>
</div>

@code {
    private IEnumerable<Product> productsList = new List<Product>();

    protected override async Task OnInitializedAsync()
    {
        productsList = await ProductService.GetProductsAsync();
    }
}
